.App {
  text-align: center;
}

.Greetings {
  position: absolute;
  width: 80%;
  margin-top: -900px;
  z-index: 1;
}

.App-image {
  Width: 100%;
  pointer-events: none;
  z-index: 0;
  opacity: 0.2;
}

.The-what{
  position: relative;
  width: 80%;
  margin-top: 10%;
}

.Formule-1 {
  margin-top: -1%;
  position: relative;
  width: 85%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Mail-logo {
  width: 35px;
  height: 35px;
}